*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #020627;
    font-family: Arial, sans-serif;
}

header nav{
    text-align: center;
}

h1{
    color: #ffffff;
    font-size: 2rem;
    margin-top: 40px;
    text-align: center;
}

.container{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 20px;
    gap: 50px;
    
}

.userReview{
    height: 100%;
    background-color: #83a1bb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 30px 30px ;
}

.userReview label{
    color: #1f1e1e;
    /* padding: 0px 0; */
}

.userReview input {
    width: 80%;
    font-size: 1rem;
    padding: 12px 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
}

.userReview textarea{
    width: 80%;
    font-size: 1rem;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

.userReview button{
    background-color: #f59505;
    padding: 10px 70px;
    color: #ffffff;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    border-radius: 10px;
    margin: 20px 0;
}

button:hover{
    background-color: #e48901;
    transition: all 0.3s ease-in-out;
}

.reviewList {
   padding: 0 20px;
}

.reviewList span{
    font-size: 1.7rem;
    color: #554d40;
    padding: 0 5px;
}

.solid-yellow{
    color: gold;
}
/* 
.display_container{
    padding: 0 0px;
    color: #ffffff;
    
} */

.display_container .display_box{
    list-style: none;
    font-size: 1rem;
    padding: 10px 15px;
    text-align: justify;
    overflow: hidden;
    margin: 20px;
    border-radius: 5px;
    box-shadow: #00000059 0px 5px 15px;
    /* background: linear-gradient(to left top,#ffffffcc,#ffffff80); */
}

.display_box h4{
    font-size: 1.2rem;
    text-transform: capitalize;
    color: #e48901;
    padding: 10px 0;
}

.display_box p{
    font-size: 0.9rem;
    text-transform: sentence-case;
    color: #ffffff;
    padding: 18px 0;
    text-align: justify;
}

.display_box button{
    padding: 7px 20px;
    background-color: #e48901;
    color: #ffffff;
    border: none;
    float: right;
    font-size: 1rem;
    border-radius: 10px; 
}

